<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.batapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view" >
            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".OpenActivity"
            android:label="@string/title_activity_open" >
        </activity>
        <activity
            android:name=".AddNewActivity"
            android:label="@string/title_activity_add_new" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
             <meta-data android:name="android.app.searchable"
            android:resource="@layout/searchable"/>
        </activity>
    </application>

</manifest>
